* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../imagens/fundo.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#tela-index {
    background: linear-gradient(114.08deg, #07005B -22.81%, rgba(0, 89, 79, 0.7) 122.81%);
}




#container {
    
    width: 1440px;
    margin: 0 auto;
}


  #logo-index {
    
    text-align: center;
    color: white;
  }

#area-logo img {
    height: 80px;
    
}

#area-logo {
    
    
    padding: 15px;
    width: 390px;
}

#area-logo a {
    text-decoration: none;
    color: #fff;
}

#area-logo p {
    display: inline;
    font-size: 60px;
    padding: 15px;
   
}

#area-cadastro {
position: absolute;
width: 400px;
height: 500px;
left: 980px;
top: 90px;
background: rgba(70, 167, 222, 0.6);
border-radius: 60px;
padding: 20px;
}

#formulario-cadastro {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-cadastro input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 10px;
    
    
}

#formulario-cadastro label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-cadastro input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

#area-login {
position: absolute;
width: 400px;
height: 380px;
left: 980px;
top: 90px;
background: rgba(70, 167, 222, 0.6);
border-radius: 60px;
padding: 20px;
}

#area-botoes {
    
    position: absolute;
    width: 400px;
    height: 500px;
    left: 980px;
    top: 70px;
    
    text-align: center;
}

/*Configuração do Index*/
#area-botoes input {
    width: 217px;
    height: 80px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
    border: 0ch;
}

.entrar {
    padding: 90px;
}

#formulario-login {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-login input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 10px;
}

#formulario-login label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-login input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}


.titulo {
    
    width: 500px;
    margin-top: 100px;
    margin-left: 30px;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    
}

.menor {
    
    width: 500px;
    margin-top: 50px;
    margin-left: 30px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    
}

.menor a {
    
    color: #fff;
}

#descricao {
    
    font-size: 1.1em;
    width: 300px;
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
}

#descricao input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}



.button {
   margin-top: 50px;
   text-align: center;

}

footer {
    clear: both;
	width: 100%;
    height: 96px;
    left: 0px;
    top: 673px;
	text-align: center;
	position: absolute;
    background: rgba(39, 80, 134, 0.5);
	margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.502);
}

footer a {
    padding: 10px;
}

footer div {
    padding: 5px;
}

