* {
    margin: 0;
    padding: 0;
}

body {
    background: #0211e4 url(../imagens/fundo.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#tela-login {
    background: url(../imagens/fundo-login.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}



#container {
    width: 1440px;
    margin: 0 auto;
    height: 780px;
}

#area-logo img {
    height: 80px;
    
}

#area-logo {
    
    
    padding: 15px;
    width: 390px;
}

#area-logo a {
    text-decoration: none;
    color: #fff;
}

#area-logo p {
    display: inline;
    font-size: 60px;
    padding: 15px;
   
}

#area-cadastro {
position: absolute;
width: 400px;
height: 550px;
left: 980px;
top: 90px;
background: rgba(70, 167, 222, 0.6);
border-radius: 60px;
padding: 20px;
}

#formulario-cadastro {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-cadastro input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 10px;
    
    
}

#formulario-cadastro label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-cadastro input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

#area-login {
position: absolute;
width: 400px;
height: 380px;
left: 980px;
top: 90px;
background: rgba(70, 167, 222, 0.6);
border-radius: 60px;
padding: 20px;
}

#formulario-login {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-login input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 10px;
    
    
}

#formulario-login label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-login input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}


.titulo {
    
    width: 300px;
    margin-left: 30px;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.menor {
    
    width: 300px;
    margin-left: 30px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.menor a {
    
    color: #fff;
}

#descricao {
    
    font-size: 1.1em;
    width: 300px;
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
}

#descricao input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

.button {
   margin-top: 50px;
   text-align: center;

}
